<div id="<%= dom_id order %>">
  <p>
    <strong>First name:</strong>
    <%= order.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= order.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= order.email %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= order.street %>
  </p>

  <p>
    <strong>House number:</strong>
    <%= order.house_number %>
  </p>

  <p>
    <strong>Postcode:</strong>
    <%= order.postcode %>
  </p>

  <p>
    <strong>City:</strong>
    <%= order.city %>
  </p>

  <p>
    <strong>Tracker amount:</strong>
    <%= order.tracker_amount %>
  </p>

</div>
